	html, body {
        font:normal 12px verdana;
        margin:0;
        padding:0;
        border:0 none;
        overflow:hidden;
        height:100%;
    }
	p {
	    margin:5px;
	}
    .settings {
        background-image:url(../../ext2/examples/shared/icons/fam/folder_wrench.png);
    }
    .nav {
        background-image:url(../../ext2/examples/shared/icons/fam/folder_go.png);
    }
    
            body .x-panel {
            margin-bottom:20px;
        }
        .icon-grid {
            background-image:url(../../ext2/examples/shared/icons/fam/grid.png) !important;
        }
        #button-grid .x-panel-body {
            border:2px solid #99bbe8;
            border-top:0 none;
        }
        .add {
            background-image:url(../../ext2/examples/shared/icons/fam/add.gif) !important;
        }
        .del {
            background-image:url(../../ext2/examples/shared/icons/fam/delete.gif) !important;
        }
		.option {
            background-image:url(../../ext2/examples/shared/icons/fam/plugin.gif) !important;
        }
        .dbupdate {
            background-image:url(../img/database_refresh.png) !important;
        }
        .dbadd {
            background-image:url(img/database_add.png) !important;
        }
        .calendaradd{
            background-image:url(img/calendar_add.png) !important;
        }
        .tablerefresh{
            background-image:url(img/table_refresh.png) !important;
        }
        .folderstar{
            background-image:url(img/folder_star.png) !important;
        }
        .tablego{
            background-image:url(img/table_go.png) !important;
        }
		.remove {
            background-image:url(../../ext2/examples/shared/icons/fam/delete.gif) !important;
        }
        .refresh {
            background-image:url(../../ext2/examples/shared/icons/fam/table_refresh.png) !important;
        }
        .save {
            background-image:url(../../ext2/examples/shared/icons/save.gif) !important;
        }

        .red { color: red;}
    	.redcell { background-color:#FFE5E5 !important;}

		.greenrow { background-color:#C3FF8F !important;}
		.yellowrow { background-color:#FFFF66 !important;}
		.pinkrow { background-color:#FFE6CC !important;}
    	.x-grid3-col-classCompanyID { background-color:#F2F2F2 !important;}
 /*  	.x-grid3-col-classCompany { background-color:#FEFFE5 !important;} this shades the column but covers the red triangles*/
		
		/* styles for tree icons */
		.fav-icon {
		    background-image:url(images/folder_go.png) !important;
		}
		
		/*for filter extension*/
		/*visual feedback of a filtered column, filtered columns will show bold/italic*/
		.x-grid3-hd-row td.ux-filtered-column {   
        font-style: italic;  
        font-weight: bold;
    	}		


#grid-example .x-grid-col-1 {
	text-align: right;
}
#grid-example .x-grid-col-2{
	text-align: right;
}
#grid-example .x-grid-col-3 {
	text-align: right;
}
#grid-example .x-grid-col-4 {
	text-align: right;
}
#grid-example.x-grid-mso{
	border: 1px solid #6593cf;
}
#grid-example.x-grid-vista{
	border: 1px solid #b3bcc0;
}
#xml-grid-example{
	border: 1px solid #cbc7b8;
	left: 0;
	position: relative;
	top: 0;
}
#editor-grid .x-grid-col-2{
    text-align:right;
}
.x-grid3-td-topic b {
    font-family:tahoma, verdana;
    display:block;
}
.x-grid3-td-topic b i {
    font-weight:normal;
    font-style: normal;
    color:#000;
}
.x-grid3-td-topic .x-grid3-cell-inner {
    white-space:normal;
}
.x-grid3-td-topic a {
    color: #385F95;
    text-decoration:none;
}
.x-grid3-td-topic a:hover {
    text-decoration:underline;
}
.details .x-btn-text {
    background-image: url(details.gif);
}
.x-resizable-pinned .x-resizable-handle-south{
    background:url(../../ext2/resources/images/default/sizer/s-handle-dark.gif);
    background-position: top;
}